@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oftn</h1>
    <p class="lead">Keep track of how often something occurs</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        Oftn gives you a simple way to keep track of how often a particular even occurs. Create a counter for the event you wish to analyize and then increment it each time the action occurs.   
        </p>
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>